body {
  background-image: linear-gradient(
    #fff7ee, 0%,
   #fff7ee, 25%,
   rgba(255, 255, 255, 0), 50%, 
   rgba(255, 255, 255, 0));
  margin: 0px;
  padding: 0px;
}

/* styles specific to the homepage */
#title-container {
  font-family: 'Glacial-light';
  font-size: 35px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

#formerly-text {
 font-size: 16px; 
 margin-top: 0px;
}

#title-h1 {
  margin-bottom: 0px;
}

#title-text {
  color: #5b5248;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 400px;
}

@media screen and (max-width: 720px) {
  #title-text {
    text-align: center;
  }
  #title-h1 {
    font-size: 45px;
    margin-top: 0px;
  }

  .logo-svg {
    width: 120px;
  }
  #title-container {
    flex-flow: column wrap;
    align-items: center;
  }
}

#emoji-rain {
  position: fixed;
  z-index: 10;
}

@keyframes fadeOutElement {
  to { opacity: 0; }
}
.fadeout-element {
  animation: fadeOutElement 2s forwards;
}